In [19]:
import pandas as pd

In [20]:
year_to_keep = "2018"
df = pd.read_csv("Dwellings_totalNZ-wide_format_updated_16-7-20.csv")

/tmp/ipykernel_3702/297196901.py:2: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Dwellings_totalNZ-wide_format_updated_16-7-20.csv")

In [21]:
display(df.head())

,Area_code_and_description,Area_code,Area_description,Census_2006_Occupied_private_dwelling_type_11_Separate_house,Census_2006_Occupied_private_dwelling_type_12_Joined_dwelling,Census_2006_Occupied_private_dwelling_type_13_Other_private_dwelling,Census_2006_Occupied_private_dwelling_type_10_Private_dwelling_not_further_defined,Census_2006_Occupied_private_dwelling_type_Total,Census_2013_Occupied_private_dwelling_type_11_Separate_house,Census_2013_Occupied_private_dwelling_type_12_Joined_dwelling,...,Census_2018_Dwelling_dampness_indicator_Total_stated_occupied_private_dwellings,Census_2018_Dwelling_dampness_indicator_99_Not_elsewhere_included_occupied_private_dwellings,Census_2018_Dwelling_dampness_indicator_Total_occupied_private_dwellings,Census_2018_Dwelling_mould_indicator_01_Mould_over_A4_size_always_occupied_private_dwellings,Census_2018_Dwelling_mould_indicator_02_Mould_over_A4_size_sometimes_occupied_private_dwellings,Census_2018_Dwelling_mould_indicator_Total_mouldy_dwellings_occupied_private_dwellings,Census_2018_Dwelling_mould_indicator_03_No_mould_mould_smaller_than_A4_size_occupied_private_dwellings,Census_2018_Dwelling_mould_indicator_Total_stated_occupied_private_dwellings,Census_2018_Dwelling_mould_indicator_99_Not_elsewhere_included_occupied_private_dwellings,Census_2018_Dwelling_mould_indicator_Total_occupied_private_dwellings
0,SA1 7000000,7000000,7000000,42,0,3,3,51,42,3,...,42,18,60,9,12,21,15,39,21,60
1,SA1 7000001,7000001,7000001,30,3,0,9,42,27,0,...,27,9,39,0,3,3,21,24,12,39
2,SA1 7000002,7000002,7000002,C,C,C,C,0,C,C,...,C,C,0,C,C,C,C,C,C,0
3,SA1 7000003,7000003,7000003,63,3,0,9,72,51,3,...,60,15,75,6,12,18,45,60,15,75
4,SA1 7000004,7000004,7000004,33,0,0,3,36,33,0,...,48,9,54,6,6,12,33,48,6,54

In [22]:

#Keep all column names containing 2018 and area code.
df = df.filter(regex=f'{year_to_keep}|Area_code')

#Change all C values to -1
df = df.replace('C', -1)

In [23]:
import json
#Create dictionary for column name mapping. Shortening the nam down.
column_name_mapping = json.load(open("mappings/name_mapping.json"))
df = df.rename(columns=column_name_mapping)

In [24]:
display(df.head())

,Area_code_and_description,Area_code,sep_house,join_dwlg,oth_dwlg,dwlg_undef,total_dwlg,priv_occ,nonpriv_occ,tot_occ,...,damp_t_s,damp_other,damp_total_occ,mo_o_a4_a,mo_o_a4_s,mould_t_oc,mould_no,mould_t_s,mould_o,mould_t_o
0,SA1 7000000,7000000,42,3,15,0,60,60,0,63,...,42,18,60,9,12,21,15,39,21,60
1,SA1 7000001,7000001,33,0,3,0,39,39,0,39,...,27,9,39,0,3,3,21,24,12,39
2,SA1 7000002,7000002,-1,-1,-1,-1,0,-1,-1,0,...,-1,-1,0,-1,-1,-1,-1,-1,-1,0
3,SA1 7000003,7000003,69,3,0,0,75,75,0,78,...,60,15,75,6,12,18,45,60,15,75
4,SA1 7000004,7000004,48,6,0,0,54,54,0,54,...,48,9,54,6,6,12,33,48,6,54